<div class="inner-bg">
    <div class="container">

            <div class="row" style="margin-top: -20px">
              <div class="col-sm-6 col-sm-offset-3">

                <div class="form-box">
                    <div class="form-top">
                      <div class="form-top-left">
                        <h3>Enter a New Sensor</h3>
                        <% if flash.has?(:message) %>
                          <p style="color:#f0ad4e;"><%= flash[:message] %> </p>
                        <% end %>
                      </div>
                      <div class="form-top-right">
                        <i class="fa fa-pencil"></i>
                      </div>
                    </div>

                  <div class="form-bottom">
                    <form  action="/devices/sensor" method="post" >

                      <div class="form-group">
                        <label  style="color: white; -webkit-font-smoothing: antialiased !important;" for="category">Device</label>
                        <select name="device_id" class="form-control">
                              <% @devices.each do |device| %>
                                <option value="<%= device.id %>" name="device_id"><%= device.serial_number %></option>
                              <%end%>
                        </select>
                      </div>

                      <div class="form-group">
                        <label class="sr-only" for="temperature">Temperature</label>
                        <input type="text" name="temperature" placeholder="Temperature" class="form-control" id="temperature" required>
                      </div>

                      <div class="form-group">
                        <label class="sr-only" for="air-humidity-percentage">Air Humidity Percentage</label>
                        <input type="number" name="air_humidity_percentage" placeholder="Air Humidity Percentage / Number" class="form-control" id="air-humidity-percentage" required>
                      </div>

                      <div class="form-group">
                        <label class="sr-only" for="carbon-monoxide-level">Carbon Monoxide Level</label>
                        <input type="number" name="carbon_monoxide_level" placeholder="Carbon Monoxide Level / Number" class="form-control" id="carbon-monoxide-level" required>
                      </div>

                      <div class="form-group">
                        <label class="sr-only" for="health-status">Health Status</label>
                        <input type="text" name="device_health_status" placeholder="Health Status" class="form-control" id="health-status"  maxlength="150" required>
                      </div>

                      <button type="submit" class="btn btn-success">Create Sensor</button>
                    </form>

                  </div>
              </div>
            </div>
    </div>
</div>
