<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Smart AC - PoC</title>

        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.min.css">
		    <link rel="stylesheet" href="/assets/css/form-elements.css">
        <link rel="stylesheet" href="/assets/css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

    </head>

    <body>
      <div class="top-content">
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-list-alt"></span> Smart AC - PoC </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
              </ul>

              <ul class="nav navbar-nav navbar-right">

                <li><a href="/devices"><span class="glyphicon glyphicon-tasks"></span> Devices</a></li>
                <li><a href="/sensors"><span class="glyphicon glyphicon-tasks"></span> All Sensors</a></li>
                <li><a href="/devices/sensor/new"><span class="glyphicon glyphicon-edit"></span> Add Sensor</a></li>
                
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span> Account <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="/users/<%= current_user.id %>/edit"><span class="glyphicon glyphicon-cog"></span> Update User Info</a></li>

                    <li role="separator" class="divider"></li>
                    <li><a href="/logout"><span class="glyphicon glyphicon-off"></span> Sign out</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>

        <%= yield %>

        </div>

        <script src="/assets/js/jquery-1.11.1.min.js"></script>
        <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="/assets/js/jquery.backstretch.min.js"></script>
        <script src="/assets/js/scripts.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
        <script>
          toastr.options = {
            "closeButton": true,
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-bottom-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "800",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut",
          }
          $(document).ready(function onDocumentReady() { 

            setInterval(function doThisEveryTwoSeconds() {

              $.get( "/devices/sensors/alerts", function( data ) {
                data.forEach((sensor) => {
                  toastr.success("Alert for Sensor: " + sensor.id);
                })
              });

            },
            5000);
          });
        </script>

        <script>
          function setSensorSafe(id) {
            toastr.options = {
              "closeButton": true,
              "newestOnTop": false,
              "progressBar": true,
              "positionClass": "toast-top-right",
              "preventDuplicates": false,
              "onclick": null,
              "showDuration": "300",
              "hideDuration": "1000",
              "timeOut": "5000",
              "extendedTimeOut": "1000",
              "showEasing": "swing",
              "hideEasing": "linear",
              "showMethod": "fadeIn",
              "hideMethod": "fadeOut",
            }

            $.post( "/devices/sensors/" + id + "/set_safe", function( data ) {
              toastr.success("Sensor under control, all good!");
              location.reload();
            });
          }
        </script>

        <script>
        function sensorSearch() {
          const filterByAlarms = document.getElementById("filter_sensors").value;

          var input, filter, table, tr, td, i, txtValue;
          input = filterByAlarms === "true" ? "Check" : '';
          filter = input.toUpperCase();
          table = document.getElementById("searchableTable");
          tr = table.getElementsByTagName("tr");
        
          for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[6]
            if (td) {
              txtValue = td.textContent || td.innerText;
              if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
              } else {
                tr[i].style.display = "none";
              }
            }
          }
        }
        </script>

    </body>

</html>
